extends layout.pug
block title
	title= 'Exchanges'
block content
	br
	form(action="/exchange/serial" method="get")
		| Exchange serial1 for serial2
		br
		input(type="text" name="serial1")
		input(type="text" name="serial2")
		input(type="submit" value="Exchange")