extends layout.pug

block title
    title= 'Exchanges'
block content
    | Exchange product id1 for product id2: 
    input#pid1(type="text")
    input#pid2(type="text")
    button(onclick="exchange_product(pid1, pid2)") Exchange
